/* CSS RESET*/

a,svg{display:inline-block}*,::after,::before{box-sizing:border-box}*{margin:0;padding:0;font:inherit}html{scroll-behavior:smooth;height:100%}body,html{min-height:100%}ol,ul{list-style:none}a{color:inherit;text-decoration:none}svg{max-width:100%}canvas,img,picture,video{display:block;max-width:100%}button{cursor:pointer;border-radius:0;border:none;background-color:transparent}input,select,textarea{color:inherit;letter-spacing:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}body{-webkit-font-smoothing:antialiased;text-rendering:optimizeSpeed}


body {
    background-color: rgb(28, 27, 24);
    font-family: Roboto Serif;
    color: lightgoldenrodyellow;
}


header {
    margin-bottom: 56px;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
margin: 24px 0 24px 0;
}

h1 {
    font-family: BlackChancery;
    font-size: 96px;
    font-weight: normal;
    margin-bottom: -8px;
    
}

h2 {
    font-family: BlackChancery;
    font-size: 32px;
    margin-bottom: 16px;
    color: goldenrod;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

p {
    padding: 8px 0 16px 0;
}

ul {
    padding: 8px 0 16px 0;
}

li {
    padding: 8px 0 ;
}

hr {
    border: none;
    height: 1px;
    background-color:goldenrod ;
    margin-bottom: 56px;
    margin-top: 56px;
}

ul {
    list-style-type: disc; 
    margin-left: 20px;     
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.section_one {
background-image: url(img/personaje1.png);
background-repeat: no-repeat;
background-size: contain;     
background-position: calc(100% - 90px);
}

.section_three{
background-image: url(img/personaje2.png);
background-repeat: no-repeat;
background-size: contain;     
background-position: 100px 20px;
}
.section_one_text, .section_two, .section_three_text, .section_four {
    margin: 56px 320px 56px 320px;
}


.section_short_news_text {
    margin: 56px;
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    flex-direction: column;
    color: rgb(28, 27, 24) ;
}

.section_short_news_group1 , .section_short_news_group2 {
    display: flex;
    gap: 56px;
}

.section_short_news_new {
    flex: 1;
    background-color: goldenrod;
    border-radius: 4px;
    padding: 16px;
}