/*Top bar y bottom bar*/

.topBar {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: 0 0 auto 0;
    background-color: white;
    box-shadow: 0 1px 3px rgb(0, 0, 0,0.1) ;

}

.bottomNav {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    inset: auto 0 0 0;
    background-color: white;
    border: 1px solid rgb(0, 0, 0,0.1);
}

/*General*/

body {
    font-family: Inter;
    font-size: 16px;
    color: #1A1A1A;
    margin: 0;
}

h1,h2,h3,h4 {
    font-family: Playfair Display;
    margin: 0;
}

p {
    margin: 0;
}

main {
    margin-top: 64px;
}

/*Category Tag*/

.category-tag {
    position: relative;
}
.category-tag::after {
    content: attr(Category);
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
    border-radius: 100px;
    font-family: Inter;
    font-size: 14px;
    color: white;
    background-color: #D4A574;
}

/*Header*/

header {
    background-image: url(../Img/img_header_mobile.png);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header__text {
    padding: 24px;
    color: white;
}

.header__tittle {
    font-size: 40px;
    font-weight: normal;
}

.header__tittle::first-letter{
    font-size: 64px;
}


