/* CSS RESET*/

a,svg{display:inline-block}*,::after,::before{box-sizing:border-box}*{margin:0;padding:0;font:inherit}html{scroll-behavior:smooth;height:100%}body,html{min-height:100%}ol,ul{list-style:none}a{color:inherit;text-decoration:none}svg{max-width:100%}canvas,img,picture,video{display:block;max-width:100%}button{cursor:pointer;border-radius:0;border:none;background-color:transparent}input,select,textarea{color:inherit;letter-spacing:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}body{-webkit-font-smoothing:antialiased;text-rendering:optimizeSpeed}


body {
    background-color: #d2c0a2;
    font-family: Roboto Serif;
    color: #291704;
}



header {
    margin-bottom: 56px;
    background: url(img/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


article {
margin: 24px 0 24px 0;
}

h1 {
    font-family: BlackChancery;
    font-size: 96px;
    font-weight: normal;
    margin-bottom: -8px;
    
}

h2 {
    font-family: BlackChancery;
    font-size: 32px;
    margin-bottom: 16px;
    color: #8D5B1F;
}

h3 {
    color: #8D5B1F;
    font-size: 20px;
    font-weight: bold;
}

p {
    padding: 8px 0 16px 0;
}

ul {
    padding: 8px 0 16px 0;
}

li {
    padding: 8px 0 ;
}


ul {
    list-style-type: disc; 
    margin-left: 20px;     
}

.section_one,.section_two, .section_three, .section_four {
    display: flex;
    gap: 56px;
    padding: 56px;
}

.section_one_img, .section_two_img, .section_three_img, .section_four_img{
    width: 50%;
    height: auto;
    object-fit: contain;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}


.section_short_news {
background-color: #291704;
color: #d2c0a2;
}

.section_short_news_text {
    padding: 56px;
}

.section_short_news_group1, .section_short_news_group2{
    display: flex;
    flex-direction: row;
    gap: 56px;
}

.section_short_news_new {
    flex: 1;
    border: #8D5B1F solid 1.5px;
    border-radius: 8px;
    padding: 16px;
}